<h1><%= article.title %></h1>
<div class="meta-wrap">
    <span class="meta date"><%= article.date.strftime('%b %e %Y') %></span>
    <a href="#" class="meta author"><%= article.data.author || "HashiCorp" %></a>
    <% article.tags.each do |tag| %>
        <a href="/blog/tags/<%= tag %>.html" class="meta category last"><%= tag %></a>
    <% end %>
</div><!--meta-wrap-->
